<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z3">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Назва </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Group Column -->
  <ng-container matColumnDef="group">
    <mat-header-cell *matHeaderCellDef> Група інформації </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.group === 1 ? 'Індикатор компрометації' : 'Корисна інформація'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [length]="this.dataSource.elemCount"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true"
               class="mat-elevation-z3">
</mat-paginator>
