<div *ngIf="(loggedIn | async) && user.role !== 'inactive'; then authorized else not_authorized"></div>
<ng-template #authorized>
  <div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-sidenav-container>
      <mat-sidenav #snav [mode]="'over'"
                   [fixedInViewport]="mobileQuery.matches"
                   color="accent">
        <mat-toolbar class="sidenav-header">
          <mat-toolbar-row>
            <div class="avatar">
              {{user.initials}}
            </div>
          </mat-toolbar-row>
          <mat-toolbar-row class="name">
            <span>{{user.name}}</span>
          </mat-toolbar-row>
          <mat-toolbar-row class="email">
            <span>{{user.email}}</span>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
          <mat-list-item  *ngFor="let menu_item of menu" (click)="goToPage(menu_item.path, snav)" [class.nav-active]="menu_item.active">
            <mat-icon matListIcon>{{menu_item.icon}}</mat-icon>
            <span matLine>{{menu_item.displayName}}</span>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolbar mat-elevation-z6">
          <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          <h1 class="app-name" *ngIf="!mobileQuery.matches">Державний реєстр кіберінцидентів</h1>
          <div class="flex-spacer"></div>
          <button mat-raised-button color="warn" (click)="logout()">
            Вийти
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-toolbar>
        <div class="sidenav-container">
          <router-outlet (activate)="onActivated($event)"></router-outlet>
          <eco-fab-speed-dial class="fab-abs-button">
            <eco-fab-speed-dial-trigger>
              <button mat-fab><mat-icon>more_vert</mat-icon></button>
            </eco-fab-speed-dial-trigger>

            <eco-fab-speed-dial-actions>
              <button mat-mini-fab (click)="openDialog('add-attribute')" matTooltip="Додати атрибут" matTooltipPosition="left" *ngIf="activeSelector === 'app-incident-view'"><mat-icon>event_note</mat-icon></button>
              <button mat-mini-fab (click)="openDialog('add-responsible')" matTooltip="Додати відповідального" matTooltipPosition="left" *ngIf="activeSelector === 'app-incident-view'"><mat-icon>person</mat-icon></button>
              <button mat-mini-fab (click)="openDialog('add-incident')" matTooltip="Додати інцидент" matTooltipPosition="left"><mat-icon>report</mat-icon></button>
              <button mat-mini-fab (click)="openDialog('add-attribute-type')" matTooltip="Додати тип атрибутів" matTooltipPosition="left" *ngIf="user.role === 'admin'"><mat-icon>flag</mat-icon></button>
            </eco-fab-speed-dial-actions>
          </eco-fab-speed-dial>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>
<ng-template #not_authorized>
  <router-outlet></router-outlet>
</ng-template>
